{% extends 'main/base_dashboard.html.twig' %}
 {% block body %}
     <div class="dasboard-wrapper fl-wrap no-pag">
         <div class="dasboard-listing-box fl-wrap">
             <div class="dasboard-opt sl-opt fl-wrap">
                 <div class="dashboard-search-listing">
                     <input type="text" onclick="this.select()" placeholder="Search" value="">
                     <button type="submit"><i class="far fa-search"></i></button>
                 </div>
                 <a href="dashboard-add-listing.html" class="gradient-bg dashboard-addnew_btn">Add New <i
                             class="fal fa-plus"></i></a>
                 <!-- price-opt-->
                 <div class="price-opt">
                     <span class="price-opt-title">Sort   by:</span>
                     <div class="listsearch-input-item">
                         <select data-placeholder="Lastes" class="chosen-select no-search-select">
                             <option>Lastes</option>
                             <option>Oldes</option>
                             <option>Average rating</option>
                             <option>Name: A-Z</option>
                             <option>Name: Z-A</option>
                         </select>
                     </div>
                 </div>
                 <!-- price-opt end-->
             </div>
             <!-- dashboard-listings-wrap-->
             <div class="dashboard-listings-wrap fl-wrap">
                 <div id=" " class="row">
                           {{ render(controller('App\\Controller\\Main\\Dashboard\\ListingController::template')) }}
                 </div>
             </div>
             <!-- dashboard-listings-wrap end-->
         </div>
         <!-- pagination-->
         <!-- pagination end-->
     </div>
 {% endblock %}
