<div class="listing-rating card-popup-rainingvis"
     data-starrating2="{{ reviewsFromProperty?reviewsFromProperty['stars-rating']:0 }}">
    <span class="re_stars-title">{{ reviewsFromProperty?reviewsFromProperty['stars-title']:'' }}</span>
</div>