<div class="dashbard-menu-overlay"></div>
<div class="dashbard-menu-wrap">
    <div class="dashbard-menu-close"><i class="fal fa-times"></i></div>
    <div class="dashbard-menu-container">
        <!-- user-profile-menu-->
        <div class="user-profile-menu">
            <h3>Main</h3>
            {{ knp_menu_render('userMenu',{'currentClass': 'active'}) }}
         </div>
        <!-- user-profile-menu end-->
    </div>
</div>