<div class="listing-rating card-popup-rainingvis tolt" data-microtip-position="top"
     data-tooltip="{{starsRating? starsRating['stars-title']:0 }}"
     data-starrating2="{{ starsRating?starsRating['stars-rating']:'' }}">
</div>
