{% extends 'admin/layout/layout_main.html.twig' %}

{% block title_detailed %}{% endblock %}

{% block body %}
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                    <tr>
                        <th>Site name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% set locale = app.request.locale %}
                        <tr>
                            {% if settings %}
                                <td>{{ settings.translate(locale).siteName }}</td>
                                <td>
                                    <a href="{{ path('admin_settings_edit',{'id':settings.id}) }}">
                                        <button class="btn btn-primary"><i class="fa fa-pen"></i></button>
                                    </a>
{#                                    <a href="#" onclick="deleteProduct()" class="action-remove" data-target="#deleteElement"#}
{#                                       data-bs-toggle="modal" data-bs-target="#deleteElement">#}
{#                                        <button type="button" class="btn btn-danger waves-effect waves-light"><i#}
{#                                                    class="fa fa-trash"></i></button>#}
{#                                    </a>#}
                                </td>
                            {% else %}
                                <td><a href="{{ path('admin_settings_new') }}">{% trans %}add.label{% endtrans %}</a></td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}