<div id="deleteElement" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">{% trans %}delete.label{% endtrans %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h5> {% trans %}to_continue.label{% endtrans %} </h5>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">{% trans %}cancel.label{% endtrans %}</button>
                <span id="curl"></span>
                <input type="hidden" value="type" id="link">
{#                <a href="{{ path("admin_category_delete",{'id':66}) }}" class="btn btn-danger">{% trans %}continue.label{% endtrans %}</a>#}

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



