<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            {{ knp_menu_render('adminMenu',{'currentClass': 'active'}) }}
        </div>
    </div>
</div>