{% for label,messages in app.flashes(['success','warning','info']) %}
    {% for message in messages %}
        <div id="flash-message" class="notification {{ label }}  fl-wrap">
            <p> <a href="#"> {{ message }}</p>
            <a class="notification-close" href="#"><i class="fal fa-times"></i></a>
        </div>
    {% endfor %}
{% endfor %}
