{# app/Resources/views/form/fields.html.twig #}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

{{ form_start(form) }}

<div class="mb-3">
    {{ form_row(form.translations) }}
</div>
<div class="mb-3">
        {{ form_row(form.published) }}
    <a href="https://fontawesome.com/v5.15/icons" target="_blank">Get icon here(click free icon )</a>
</div>
<div>
    <button type="submit" class="btn btn-primary w-md">{% trans %}send.label{% endtrans %}</button>
</div>
{{ form_end(form) }}